In [1]:
import pandas as pd

In [16]:
key_df = pd.read_csv("key_data.csv", names=["input","time"])
key_df.tail()

            input          time
125  keystroke: 4  1.621694e+09
126  keystroke: 4  1.621694e+09
127  keystroke: 4  1.621694e+09
128  keystroke: 4  1.621694e+09
129  keystroke: 4  1.621694e+09

In [8]:
keytimes=key_df["time"]

In [60]:
klm_k = (list(keytimes)[-1]-list(keytimes)[0])/len(keytimes)
klm_k = round(klm_k,3)
klm_k

0.309

In [22]:
mouseclick_df = pd.read_csv("mousebutton.csv", names=["input","time"])
mouseclick_df.tail()

        input          time
51  button: 3  1.621694e+09
52  button: 3  1.621694e+09
53  button: 3  1.621694e+09
54  button: 3  1.621694e+09
55  button: 3  1.621694e+09

In [20]:
mousetimes=mouseclick_df["time"]

In [56]:
klm_b = (list(mousetimes)[-1]-list(mousetimes)[0])/len(mousetimes)/2
klm_b = round(klm_b,3)
klm_b

0.09

In [27]:
key_mouse_change_df = pd.read_csv("key_mouse_change_data.csv", names=["input","time"])
key_mouse_change_df.head()

          input          time
0     button: 1  1.621694e+09
1  keystroke: +  1.621694e+09
2     button: 1  1.621694e+09
3  keystroke: +  1.621694e+09
4     button: 1  1.621694e+09

In [24]:
changetimes=key_mouse_change_df["time"]

In [57]:
klm_h = ((list(changetimes)[-1]-list(changetimes)[0]) - ((klm_mouse+klm_key)/2)) / len(changetimes)
klm_h = round(klm_h,3)
klm_h

0.498

In [44]:
pointing_df = pd.read_csv("pointing.csv", names=["input","time"])
pointing_df.head()

        input          time
0   button: 0  1.621696e+09
1  button: ce  1.621696e+09
2   button: c  1.621696e+09
3   button: 1  1.621696e+09
4   button: 2  1.621696e+09

In [45]:
pointingtimes=pointing_df["time"]

In [58]:
klm_p = (list(pointingtimes)[-1]-list(pointingtimes)[0])/ len(pointingtimes) - klm_mouse*2
klm_p = round(klm_p,3)
klm_p

0.421

In [61]:
klm_dict = {"k": klm_k,
            "b": klm_b,
            "h": klm_h,
            "p": klm_p}

In [63]:
import json
with open('klm_result.json', 'w') as fp:
    json.dump(klm_dict, fp)