# Determine KLM Operators

In the following analysis the "mental act" operator was excluded. The experiments were designed to keep the mental act as small as possible.

## import libraries

In [1]:
import pandas as pd

## K-Operator

To calculate the time for a keystroke action, one key ("4") is pressed multiple times in rapid succession and the timestamp in milliseconds was logged each time.

In [2]:
key_df = pd.read_csv("key_data.csv", names=["input","time"])
key_df.tail()

            input          time
125  keystroke: 4  1.621694e+09
126  keystroke: 4  1.621694e+09
127  keystroke: 4  1.621694e+09
128  keystroke: 4  1.621694e+09
129  keystroke: 4  1.621694e+09

In [3]:
keytimes=key_df["time"]

In [4]:
klm_k = (list(keytimes)[-1]-list(keytimes)[0])/len(keytimes)
klm_k = round(klm_k,3)
klm_k

0.309

# B-Operator

To calculate the time for a button press, one button is pressed multiple times in rapid succession and the timestamp 
in milliseconds was logged each time.

In [5]:
mouseclick_df = pd.read_csv("mousebutton.csv", names=["input","time"])
mouseclick_df.tail()

        input          time
51  button: 3  1.621694e+09
52  button: 3  1.621694e+09
53  button: 3  1.621694e+09
54  button: 3  1.621694e+09
55  button: 3  1.621694e+09

In [6]:
mousetimes=mouseclick_df["time"]

In [7]:
klm_b = (list(mousetimes)[-1]-list(mousetimes)[0])/len(mousetimes)/2
klm_b = round(klm_b,3)
klm_b

0.09

# H-Operator
To calculate the time for switching between mouse and keyboard, alternately the key "1" and the button "+" was pressed. This was repeated multiple times.

In [8]:
key_mouse_change_df = pd.read_csv("key_mouse_change_data.csv", names=["input","time"])
key_mouse_change_df.head()

          input          time
0     button: 1  1.621694e+09
1  keystroke: +  1.621694e+09
2     button: 1  1.621694e+09
3  keystroke: +  1.621694e+09
4     button: 1  1.621694e+09

In [9]:
changetimes=key_mouse_change_df["time"]

In [12]:
klm_h = ((list(changetimes)[-1]-list(changetimes)[0]) - ((klm_b+klm_k)/2)) / len(changetimes)
klm_h = round(klm_h,3)
klm_h

0.498

# P-Operator
To calculate the time for the pointing of the mouse, the mouse was moved to each button of the calculator and pressed once. For each press-event, the timestamp was logged.

In [13]:
pointing_df = pd.read_csv("pointing.csv", names=["input","time"])
pointing_df.head()

        input          time
0   button: 0  1.621696e+09
1  button: ce  1.621696e+09
2   button: c  1.621696e+09
3   button: 1  1.621696e+09
4   button: 2  1.621696e+09

In [14]:
pointingtimes=pointing_df["time"]

In [18]:
klm_p = (list(pointingtimes)[-1]-list(pointingtimes)[0])/ len(pointingtimes) - klm_b*2
klm_p = round(klm_p,3)
klm_p

0.421

In [19]:
klm_dict = {"k": klm_k,
            "b": klm_b,
            "h": klm_h,
            "p": klm_p}

In [20]:
import json
with open('klm_result.json', 'w') as fp:
    json.dump(klm_dict, fp)

# Overview

## K-Operator: 0.309
## B-Operator: 0.09
## H-Operator: 0.498
## P-Opera